In [1]:
import pymysql

In [2]:
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='@Cisseben01',
    database = "solarsale"
)

#Create a cursor that we will use to interact with the database
cursor = conn.cursor()

Create a database

In [3]:
cursor.execute("CREATE DATABASE IF NOT EXISTS solarsale")

1

In [4]:
cursor.execute("SHOW DATABASES")
databases= cursor.fetchall()
print(databases)

(('information_schema',), ('mysql',), ('performance_schema',), ('solarsale',), ('supermarket',), ('sys',))

In [5]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Customers(
               Fullname varchar(50),
               Phone int,
               Age int,
               Town varchar(255)
               )
""")
print("Table created successfully")

Table created successfully

In [6]:
#Single data
customerdata = "INSERT INTO Customers(Fullname, Phone, Age, Town) VALUES(%s, %s, %s, %s)"
values = ("David Opiyo", 265433 , 30, "Kisumu")
cursor.execute(customerdata, values)

#Save changes
conn.commit()

print("Single record added successfully")

Single record added successfully

In [7]:
#Multiple data
values = [
    ("David Opiyo", 265433 , 26, "Kisumu"),
    ("Jack Opiyo", 263474 , 37, "Kisumu"),
    ("John Doe", 265474 ,29, "Kisumu"),
    ("Mary Khan", 262827, 30, "Kisumu"),
    ("Erick Mosh", 265433 , 25, "Kisumu")
    ]
cursor.executemany(customerdata, values)

#Save changes
conn.commit()

print("Multiple records added successfully")

Multiple records added successfully

In [8]:
cursor.execute("SELECT * FROM Customers")
rows = cursor.fetchall()
print(rows)
rows

(('David Opiyo', 265433, 30, 'Kisumu'), ('David Opiyo', 265433, 26, 'Kisumu'), ('Jack Opiyo', 263474, 37, 'Kisumu'), ('John Doe', 265474, 29, 'Kisumu'), ('Mary Khan', 262827, 30, 'Kisumu'), ('David Mosh', 265433, 25, 'Kisumu'), ('David Opiyo', 265433, 26, 'Kisumu'), ('Jack Opiyo', 263474, 37, 'Kisumu'), ('John Doe', 265474, 29, 'Kisumu'), ('Mary Khan', 262827, 30, 'Kisumu'), ('David Mosh', 265433, 25, 'Kisumu'), ('David Opiyo', 265433, 30, 'Kisumu'), ('David Opiyo', 265433, 26, 'Kisumu'), ('Jack Opiyo', 263474, 37, 'Kisumu'), ('John Doe', 265474, 29, 'Kisumu'), ('Mary Khan', 262827, 30, 'Kisumu'), ('Erick Mosh', 265433, 25, 'Kisumu'), ('David Opiyo', 265433, 30, 'Kisumu'), ('David Opiyo', 265433, 26, 'Kisumu'), ('Jack Opiyo', 263474, 37, 'Kisumu'), ('John Doe', 265474, 29, 'Kisumu'), ('Mary Khan', 262827, 30, 'Kisumu'), ('Erick Mosh', 265433, 25, 'Kisumu'), ('David Opiyo', 265433, 30, 'Kisumu'), ('David Opiyo', 265433, 26, 'Kisumu'), ('Jack Opiyo', 263474, 37, 'Kisumu'), ('John Doe', 265474, 29, 'Kisumu'), ('Mary Khan', 262827, 30, 'Kisumu'), ('Erick Mosh', 265433, 25, 'Kisumu'), ('David Opiyo', 265433, 30, 'Kisumu'), ('David Opiyo', 265433, 26, 'Kisumu'), ('Jack Opiyo', 263474, 37, 'Kisumu'), ('John Doe', 265474, 29, 'Kisumu'), ('Mary Khan', 262827, 30, 'Kisumu'), ('Erick Mosh', 265433, 25, 'Kisumu'), ('David Opiyo', 265433, 30, 'Kisumu'), ('David Opiyo', 265433, 26, 'Kisumu'), ('Jack Opiyo', 263474, 37, 'Kisumu'), ('John Doe', 265474, 29, 'Kisumu'), ('Mary Khan', 262827, 30, 'Kisumu'), ('Erick Mosh', 265433, 25, 'Kisumu'), ('David Opiyo', 265433, 30, 'Kisumu'), ('David Opiyo', 265433, 26, 'Kisumu'), ('Jack Opiyo', 263474, 37, 'Kisumu'), ('John Doe', 265474, 29, 'Kisumu'), ('Mary Khan', 262827, 30, 'Kisumu'), ('Erick Mosh', 265433, 25, 'Kisumu'), ('David Opiyo', 265433, 30, 'Kisumu'), ('David Opiyo', 265433, 26, 'Kisumu'), ('Jack Opiyo', 263474, 37, 'Kisumu'), ('John Doe', 265474, 29, 'Kisumu'), ('Mary Khan', 262827, 30, 'Kisumu'), ('Erick Mosh', 265433, 25, 'Kisumu'), ('David Opiyo', 265433, 30, 'Kisumu'), ('David Opiyo', 265433, 26, 'Kisumu'), ('Jack Opiyo', 263474, 37, 'Kisumu'), ('John Doe', 265474, 29, 'Kisumu'), ('Mary Khan', 262827, 30, 'Kisumu'), ('Erick Mosh', 265433, 25, 'Kisumu'))

(('David Opiyo', 265433, 30, 'Kisumu'),
 ('David Opiyo', 265433, 26, 'Kisumu'),
 ('Jack Opiyo', 263474, 37, 'Kisumu'),
 ('John Doe', 265474, 29, 'Kisumu'),
 ('Mary Khan', 262827, 30, 'Kisumu'),
 ('David Mosh', 265433, 25, 'Kisumu'),
 ('David Opiyo', 265433, 26, 'Kisumu'),
 ('Jack Opiyo', 263474, 37, 'Kisumu'),
 ('John Doe', 265474, 29, 'Kisumu'),
 ('Mary Khan', 262827, 30, 'Kisumu'),
 ('David Mosh', 265433, 25, 'Kisumu'),
 ('David Opiyo', 265433, 30, 'Kisumu'),
 ('David Opiyo', 265433, 26, 'Kisumu'),
 ('Jack Opiyo', 263474, 37, 'Kisumu'),
 ('John Doe', 265474, 29, 'Kisumu'),
 ('Mary Khan', 262827, 30, 'Kisumu'),
 ('Erick Mosh', 265433, 25, 'Kisumu'),
 ('David Opiyo', 265433, 30, 'Kisumu'),
 ('David Opiyo', 265433, 26, 'Kisumu'),
 ('Jack Opiyo', 263474, 37, 'Kisumu'),
 ('John Doe', 265474, 29, 'Kisumu'),
 ('Mary Khan', 262827, 30, 'Kisumu'),
 ('Erick Mosh', 265433, 25, 'Kisumu'),
 ('David Opiyo', 265433, 30, 'Kisumu'),
 ('David Opiyo', 265433, 26, 'Kisumu'),
 ('Jack Opiyo', 263474, 37, 'Kisumu'),
 ('John Doe', 265474, 29, 'Kisumu'),
 ('Mary Khan', 262827, 30, 'Kisumu'),
 ('Erick Mosh', 265433, 25, 'Kisumu'),
 ('David Opiyo', 265433, 30, 'Kisumu'),
 ('David Opiyo', 265433, 26, 'Kisumu'),
 ('Jack Opiyo', 263474, 37, 'Kisumu'),
 ('John Doe', 265474, 29, 'Kisumu'),
 ('Mary Khan', 262827, 30, 'Kisumu'),
 ('Erick Mosh', 265433, 25, 'Kisumu'),
 ('David Opiyo', 265433, 30, 'Kisumu'),
 ('David Opiyo', 265433, 26, 'Kisumu'),
 ('Jack Opiyo', 263474, 37, 'Kisumu'),
 ('John Doe', 265474, 29, 'Kisumu'),
 ('Mary Khan', 262827, 30, 'Kisumu'),
 ('Erick Mosh', 265433, 25, 'Kisumu'),
 ('David Opiyo', 265433, 30, 'Kisumu'),
 ('David Opiyo', 265433, 26, 'Kisumu'),
 ('Jack Opiyo', 263474, 37, 'Kisumu'),
 ('John Doe', 265474, 29, 'Kisumu'),
 ('Mary Khan', 262827, 30, 'Kisumu'),
 ('Erick Mosh', 265433, 25, 'Kisumu'),
 ('David Opiyo', 265433, 30, 'Kisumu'),
 ('David Opiyo', 265433, 26, 'Kisumu'),
 ('Jack Opiyo', 263474, 37, 'Kisumu'),
 ('John Doe', 265474, 29, 'Kisumu'),
 ('Mary Khan', 262827, 30, 'Kisumu'),
 ('Erick Mosh', 265433, 25, 'Kisumu'),
 ('David Opiyo', 265433, 30, 'Kisumu'),
 ('David Opiyo', 265433, 26, 'Kisumu'),
 ('Jack Opiyo', 263474, 37, 'Kisumu'),
 ('John Doe', 265474, 29, 'Kisumu'),
 ('Mary Khan', 262827, 30, 'Kisumu'),
 ('Erick Mosh', 265433, 25, 'Kisumu'))

In [9]:
#for x in rows:
    #print(x)

In [10]:
average = "SELECT AVG(Age) FROM Customers"
cursor.execute(average)

conn.commit()
print(average)

SELECT AVG(Age) FROM Customers